body {
    font-family: sans-serif;
    background-color: #212327;
    color: #e1e1e1;
    margin: 0;
}

header {
    height: 100px;
    width: 100%;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

header a img {
    height: 100px;
    position: fixed;
    left: 0;
}

h1#headerTitle {
    margin: 0;
    align-self: center;
}

div#saludo {
    margin: 0px;
    position: fixed;
    right: 0;
}

nav {
    background-color: #4a5878;
    font-size: medium;
    display: flow-root;
    font-size: medium;
}

div#menu {
    margin: 0;
    text-align: center;
}

nav a {
    color: #e1e1e1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #e1e1e1;
    color: black;
}

@media screen and (max-width: 400px) {
    header {
        height: 50px;
        font-size: x-large;
    }
    header a img {
        height: 50px;
    }
}