@import url(cabecera.css);
@import url(footer.css);

body {
    font-family: sans-serif;
    background-color: #5f5f5f;
    color: #e1e1e1;
    margin: 0;
	height: 100%;
}

aside#sidebarIzq {
	width: 25%;
	float: left;
	display: block;
	padding-right: 5%;
}

aside#sidebarDer {
	width: 25%;
	float: right;
	display: block;
}

main {
	width: 50%;
	min-height: calc(100vh - 228px);
	margin: auto;
	display: block;
}

footer {
	width: 100%;
	margin: auto;
}


div.universidad {
	background-color: #5f5f5f;
	display: flex;
	color: #e1e1e1;
	padding: 10px;
	margin: 10px;
}

div.universidad a {
	color: #e1e1e1;
	font-size: x-large;
	text-decoration: none;
}

div.universidad a:hover {
	color: #1a2e5d;
}

div.universidad img {
	height: 3em;
    width: 3em;
	float: left;
}

@media screen and (max-width: 800px) {
	main {
		width: 100%;
	}

	aside#sidebarIzq {
		display: none;
	}

	aside#sidebarDer {
		display: none;
	}
}