@import url(cabecera.css);
@import url(miembros.css);
@import url(contacto.css);

div#mainContent {
	display: inline-flex;
	width: 100%;
}

main{
	width: 60%;
}

aside{
	width: 20%;
}

nav#sidebarIzq{
	width: 20%;
	background-color: #212327;
}