@import url(cabecera.css);


aside#sidebarIzq {
	width: 25%;
	float: left;
	display: block;
	padding-right: 5%;
}

aside#sidebarDer {
	width: 25%;
	float: right;
	display: block;
}

main {
	width: 50%;
	margin: auto;
	display: block;
}

footer {
	width: 50%;
	margin: auto;
}

@media screen and (max-width: 800px) {
	main {
		width: 100%;
	}

	aside#sidebarIzq {
		display: none;
	}

	aside#sidebarDer {
		display: none;
	}
}