ul.lista-valoraciones{
    list-style-type: none;
	margin: auto;
    padding: 0;
}

li.valoracion {
	border: 0.15em solid #323232;
	border-radius: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em;
}

li.valoracion > div.info-perfil{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

li.valoracion > div.info-perfil p{
	margin: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

li.valoracion > div.info-perfil > p.asignatura{
	width: auto;
	margin-left: auto;
	margin-bottom: auto;
	order: 2;
}

div.info-valoracion > p.nombre-profesor{
	font-weight: bold;
}

li.valoracion > div.info-perfil img.imagen-perfil {
    height: 3em;
    width: 3em;
	border-radius: 50%;
	object-fit: cover;
}

li.valoracion > div.info-perfil a.imagen-perfil{
	display: contents;
}

li.valoracion > div.info-perfil > div.info-valoracion{
	display: flex;
	flex-direction: column;
}

div.footer-valoracion{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

div.footer-valoracion > button{
	border: none;
	background-color: #5f5f5f;
}

div.footer-valoracion > button:hover{
	background-color: #a1a1a1;
}

div.footer-valoracion > button:active{
	background-color: #5f5f5f;
}

div.footer-valoracion > p{
	width: 3em;
	text-align: center;
	margin: 0;
}

div.footer-valoracion > p.fecha{
	width: auto;
	margin-left: auto;
	order: 2;
	color: #a1a1a1;
}

/* botones paginacion */

div.botones-paginacion{
	margin: 0.5em;
	padding: 0.5em;
	padding-top: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

div.botones-paginacion > a{
	margin: auto;
	text-decoration: none;
	background-color: #5f5f5f;
	color: #ffffff;
}

div.botones-paginacion > a:hover{
	color: #1a2e5d;
}

div.botones-paginacion > a.boton-anterior{
	margin-left: 0;
	order: 1;
}

div.botones-paginacion > a.boton-siguiente{
	margin-right: 0;
	order: 2;
}


/* Valoraciones reducidas */

ul.lista-valoraciones-reducidas{
    list-style-type: none;
    padding: 0;
}

li.valoracion-reducida {
	border: 0.15em solid #323232;
	border-radius: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em;
}

li.valoracion-reducida > div.info-perfil{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

li.valoracion-reducida > div.info-perfil p{
	margin: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

li.valoracion-reducida > div.info-perfil > p.asignatura{
	width: auto;
	margin-left: auto;
	margin-bottom: auto;
	order: 2;
}

div.info-valoracion-reducida > p.nombre-profesor{
	font-weight: bold;
}

li.valoracion-reducida > div.info-perfil img.imagen-perfil {
    height: 3em;
    width: 3em;
	border-radius: 50%;
	object-fit: cover;
}

li.valoracion-reducida > div.info-perfil a.imagen-perfil{
	display: contents;
}

li.valoracion-reducida > div.info-perfil > div.info-valoracion{
	display: flex;
	flex-direction: column;
}

div.footer-valoracion-reducida{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

div.footer-valoracion-reducida > p.fecha{
	width: auto;
	margin-left: auto;
	order: 2;
	color: #a1a1a1;
}