h2 {
  text-align: left;
  font-size: xx-large;
  margin-left: 25%;
}

h3 {
  text-align: left;
  font-size: medium;
  margin-left: 25%;
  width: 50%;
}

h4 {
  margin: auto;
  padding: 5px;
}

form {
  width: 50%;
  height: auto;
  margin: 25px auto;
  border-radius: 8px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: flex-end;
  background-color: #4a5878;
}

section {
  padding: auto;
  display: block;

}

input {
  background-color: #212327;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e1e1e1;
  padding-left: 10px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e1923d;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

fieldset {
  border: none;
  font-size: small;
  text-align: left;
  margin: auto;
  padding: 0px;
  margin-top: 5px;
}

input[type="radio"] {
  width: auto;
  height: auto;
  margin: auto;
  vertical-align: top;
  margin-right: 2px;
}

input[type="checkbox"] {
  width: auto;
  height: auto;
  margin: auto;
  vertical-align: top;
  margin-right: 2px;
}


button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e1923d;
  border-color: #e1923d;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}


button p {
  color: #fff;
}


span {
  color: #e1923d;
}


label.aviso {
  font-size: small;
  color: #0e0e0e;
}

label.aceptar {
  font-size: small;
  color: #0e0e0e;
}

::placeholder {
  color: #a8a8a8;
}