body {
  font-family: "Noto Sans", sans-serif;
  background-color: #e1923d;
  font-size: xx-large;
}

h1 {
    font-size: 2em;
    text-align: center; 
    padding-left: 25%;
}

h4 {
 font-size: 0.75em;
}

p {
  flex-wrap: wrap;
  font-size: 0.5em;
}


header {
  width: 80%;
  height: 10%;
  float: left;
}

nav {
  float: left;
  width: 28%;
  background-color: #e1923d;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

aside {
  float: left;
  width: 20%;
  height: 100%;
  margin-left: 4%;
  margin-top: 0.5%;
  border-radius: 20px;
  padding-bottom: 20px;
  background-color: #f0e5d3;
  padding-left: 4%;
  padding-right: 1%;
}

nav ul {
  margin: 0px;
  list-style-type: none;
}

button {
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-color: #f0e5d3;
  border-color: #f0e5d3;
  border-style: solid;
  border-radius: 10px;
  width: 350px;
  cursor: pointer;
}

article {
  margin-top: 0.5%;
  width: 35%;
  height: 100%;
  float: left;
  border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #f0e5d3;
  padding-left: 30px;
}

img.logo{
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
  max-width: 90%;
  max-height:  90%;
}