body {
  font-family: "Noto Sans", sans-serif;
  background-color: #212327;
  font-size: xx-large;
  color: #e1e1e1;
  margin: 0;
}

h4 {
  font-size: x-large;
  margin-right: 25%;
  margin-left: 25%;
}

p {
  font-size: large;
  flex-wrap: wrap;
  hyphens: auto;
  margin-right: 25%;
  margin-left: 25%;
}

.center {
  padding: 10px;
  padding-top: 30px;

}
