.fotoperfil{
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align:bottom;
 }
.nombrePropio{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 50px;
}
.center {
  padding: 10px;
  padding-top: 30px;

}